$font-stack: 'Gilroy',sans-serif;
$margin-sidebar: 10px 10px 20px 5px;
$margin-content: 10px 5px 20px 25%;

body {
    font: 11pt $font-stack; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}
h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #ff9900; /* Цвет текста */
}
h2 {
    margin-top: 0; /* Убираем отступ сверху */
}

#header { /* Верхний блок */
    background: #243849; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */

}
#sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 20%; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: $margin-sidebar; /* Значения отступов */
}
#content { /* Правая колонка */
    margin: $margin-content; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    //border: 1px solid #333; /* Параметры рамки */

}

#footer { /* Нижний блок */
    background: #333; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
}

#calc {
    width: 200px;
    box-shadow: 0 3px 15px grey;
}

.container { /* Правая колонка */
    margin: $margin-content;
    padding: 5px;
    //border: 1px solid #333;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}
.cell {
    flex: 33%;
    height: 50px;
    font-size: 18px;
    border: none;
}
.num {
    background-color: #243849;
    color: #fff;
    font-weight: 400;
}
.cell:hover{
    background-color: #182530;
}
.op {
    background-color: #ff9900;
    color: #243849;
}

.fancybox-slide .fancybox-slide--current,
.fancybox-slide--image {
    background: #243849;
}

* {
    font-family: 'Gilroy',sans-serif;
    transition: 0.3s all;
    font-weight: 600;
}

input[type="text"] {
    width: 200px;
    border: 0;
    color: #243849;
    font-size: 18px;
    padding: 5px 5px;
    text-align: right;
}

@media (max-width: 768px) {
    #sidebar {display: none;}
    #divGallery {display: none}
    #content { /* Правая колонка */
        margin: 10px 5px 20px 5px; /* Значения отступов */
        padding: 5px; /* Поля вокруг текста */
        border: 1px solid #333; /* Параметры рамки */

    }
}


